{{ define "main" }}
  <h1>Exobrain</h1>
  
<button class="collapse-all-button" id="collapse-all">Collapse All</button>

<script>
  const collapseButton = document.getElementById('collapse-all');
  collapseButton.addEventListener('click', function() {
    const detailsElements = document.querySelectorAll('details');
    detailsElements.forEach(function(details) {
      details.removeAttribute('open');
    });
  });
</script>


  {{- $categories := .Site.Taxonomies.categories }}
  {{- $tags := .Site.Taxonomies.tags }}
  {{- range $tag, $page := $tags }}
  <details>
    <summary>{{ $tag }}</summary>
    <ul class="notes-list">
      {{ range $page.Pages }}
        <li>
          <div class="note-details">
            <a class="note-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}">{{ .Title }}</a>
            <p class="note-date">{{- .Date | dateFormat "2006-01-02" }}</p>
          </div>
        </li>
      {{ end }}
    </ul>
  </details>
  {{ end }}
{{ end }}
