{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
  <header class="entry-header">
    <h3>{{ .Title | markdownify }}</h3>
    <h6>{{ .Subtitle | markdownify }}</h6>
  </header>
  <section class="entry-content">
    {{- trim .Content "\n" | markdownify -}}
  </section>
  <section class="entry-footer">
    {{- partial "social_icons.html" (dict "icons" site.Params.socialIcons "svg" $.Site.Data.svg "MaskedEmail"
    site.Params.MaskedEmail "Email" site.Params.Email) -}}
  </section>
  <section>
    {{- if ( .Omg.Status ) | default false }}
    {{- partial "omg_status.html" -}}
    {{- end }}
  </section>
</article>
{{- if .Columns.Enabled }}
{{- partial "home_info_columns.html" -}}
{{- end -}}
{{- end -}}
{{- if site.Params.homeInfoParams.MicroBlog.Url }}
{{- partial "micro_feed.html" -}}
{{ else }}
{{- partial "plan.html" -}}
<h2> Posts </h2>
<hr class="homeinfo-divider">
{{- end -}}