<body>
<h2> <a href="https://docs.google.com/document/d/e/2PACX-1vSYaHbsHx8WdrcE8qTC2D48hZ-qfSj1LSRP8ukDFgHz7YTdfe4rWe9fv9iEdPpKWY-QeH7LQguNOaAg/pub?embedded=true">.plan</a></h2>
<hr class="homeinfo-divider">
    <details>
        <summary style="font-size:13px;">
        Just trying out something like Carmack's
        <a href="https://github.com/oliverbenns/john-carmack-plan"><u>.plan</u> files...</a>
    </summary>
    <p style="font-size:13px;">
        So I've been tinkering around with embedded google docs, since I use gsuite for my domain.
        I've noticed this is difficult to customize, so hopefully the color background is
        readable. Mirrored on my now page also since I figure this will be a good no-friction
        spot for updates. Obviously won't include proprietary work stuff but I think it'll be
        a good section for learning/reading, etc.
    </p>
    </details>
    <br>
<div class="iframe-container">
    <iframe class="gdoc" src="https://docs.google.com/document/d/e/2PACX-1vSYaHbsHx8WdrcE8qTC2D48hZ-qfSj1LSRP8ukDFgHz7YTdfe4rWe9fv9iEdPpKWY-QeH7LQguNOaAg/pub?embedded=true" 
    scrolling="yes">
    </iframe>
</div>
</body>