{{ $stripImages := .stripImages }}

<!DOCTYPE html>
<html>

<head>
  <style>
    #google-doc-container {
      background-color: var(--tertiary-bg);
      margin-bottom: 25px;
      margin-top: 25px;
      padding: 20px;
    }
  </style>
</head>

<body>
  <div id="google-doc-container"></div>
</body>
<script>
  async function fetchAndInsertGoogleDocHTML() {
    const localStorageData = JSON.parse(localStorage.getItem('googleDocHTML') || '{}');
    const { content, etag, timestamp } = localStorageData;

    if (content && timestamp && Date.now() - timestamp < 30 * 60 * 1000) {
      insertHTML(content);
      return;
    }

    const headers = new Headers();
    if (etag) {
      headers.append('If-None-Match', etag);
    }

    const response = await fetch('https://cloudflare_workers.justin-t-malloy4095.workers.dev/', { headers });

    if (response.status === 304) {
      // Content has not changed
      insertHTML(content);
      return;
    }

    const newEtag = response.headers.get('ETag');
    const newContent = await response.text();

    localStorage.setItem('googleDocHTML', JSON.stringify({
      content: newContent,
      etag: newEtag,
      timestamp: Date.now()
    }));

    insertHTML(newContent);
  }

  function insertHTML(htmlContent) {
    const container = document.getElementById('google-doc-container');
    const shadowRoot = container.attachShadow({ mode: 'open' });

    // Conditionally strip 'images' if stripImages flag is set
    // technically it's a table but the table I store the image in so eh
    if ("{{ $stripImages }}" === "true") {
      const parser = new DOMParser();
      const doc = parser.parseFromString(htmlContent, "text/html");
      const tables = doc.querySelectorAll("img");
      for (let i = 0; i < tables.length - 0; i++) {
        tables[i].remove();
      }
      htmlContent = new XMLSerializer().serializeToString(doc);
    }

    shadowRoot.innerHTML = htmlContent;

    const newStyle = document.createElement('style');
    newStyle.textContent = `
      * {
        color: var(--primary-text) !important;
        font-size: 13px !important;
        line-height: 1.5em !important;
      }
      span {
        width: 100% !important;
        height: 100% !important;
        font-size: 15px !important;
      }
      img {
        width: 75% !important;
        height: 75% !important;
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
      }
    `;
    shadowRoot.appendChild(newStyle);
  }


  // Call the function on page load
  window.addEventListener('DOMContentLoaded', fetchAndInsertGoogleDocHTML);
</script>

</html>