{{- if .Params.tags -}}
<div class="meta-item">
  <span class="post-tags">
    &#160;{{- range ($.GetTerms "tags") -}}
    <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
    {{- end -}}
  </span></div>
  <br>
{{- end }}

{{- if not .Date.IsZero -}}
<span class="meta-item">
  <span>
    &#160;{{ .Date | time.Format (default "January 2, 2006" site.Params.DateFormat) }}
    {{- if (.Param "showModifiedDate") -}}
    &#160;–&#160;{{ .Lastmod | time.Format (default "January 2, 2006" site.Params.DateFormat) }}
    {{- end }}
    </span></span>
{{- end }}

{{- if (.Param "ShowWordCount") -}}
<span class="meta-item">
  <span>
    {{- i18n "words" .WordCount | default (printf "%d words" .WordCount) -}}
    </span></span>
{{- end }}


{{- if (.Param "ShowReadingTime") -}}
<span class="meta-item">
  <span>
    {{- i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime) -}}
    </span></span>
{{- end }}

{{- if (.Param "ShowAuthor") -}}
<span class="meta-item">
  {{- partial "author.html" . -}}
</span>
{{- end }}

{{- if .IsTranslated -}}
<span class="meta-item">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M4 5h7"></path><path d="M7 4c0 4.846 0 7 .5 8"></path><path d="M10 8.5c0 2.286 -2 4.5 -3.5 4.5s-2.5 -1.135 -2.5 -2c0 -2 1 -3 3 -3s5 .57 5 2.857c0 1.524 -.667 2.571 -2 3.143"></path><path d="M12 20l4 -9l4 9"></path><path d="M19.1 18h-6.2"></path></svg>
  <span class="i18n-links">
  {{- range $i, $e := .Translations }}
    {{- if $i }}&nbsp;|&nbsp;{{ end -}}
    {{- with $e }}
    <a href="{{ .Permalink }}">
      {{- if (and site.Params.displayFullLangName (.Language.LanguageName)) }}
        {{- .Language.LanguageName | emojify -}}
      {{- else }}
        {{- .Lang | title -}}
      {{- end -}}
    </a>
    {{- end }}
  {{- end }}
  </span>
</span>
{{- end }}
